<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/navigation') %>

<main>
  <div class="error-container">
    <h1>Server Error</h1>
    <p>We're sorry, but something went wrong on our end.</p>
    <p class="error-message"><%- message %></p>
    <a href="/">Return to Home</a>
  </div>
</main>

<%- include('../partials/footer') %>
